*{
   padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: Consolas;
}
body{
   /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background-color: #b500fe;


}
.content {
    padding: 10px 50px;
    max-width: 100%;
    height: 50px;
    /*justify-content: space-between; */
   /* display: flex; */
    background-color: #5eee2c;
}
.item {
    text-align: center;
    width: 20%;
   /* border-left: 1px solid #0a0909;
    border-right: 1px solid #0a0909;
    height: 50px; */


}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navig {
    justify-content: space-between;
    display: flex;
}
.item_list {
max-width: 100%;
    display: none;
    transition: all 2s;
    background-color: #5eee2c;

  /*  width: 20%; */
}
.item_btn {
   /* border-left: 1px solid #0a0909;
    border-right: 1px solid #0a0909; */
  /*  height: 50px; */

}
.item_list_li {
margin-top: 10px;
   padding-bottom: 10px;

}
.item_btn:hover .item_list {
    display: block;
}
